header {
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 1.875rem 0 1.875rem 0;
}

header span {
    color: #FFFB62;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

body {
    background-image: url('../img/plano-de-fundo.png');
    background-repeat: no-repeat;
    background-color: lightgray 50%;
    background-size: cover;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cadastro, .lista {
    background-color: #fff;
    border-radius: 1.125rem;
    box-shadow: 0 .25rem rgba(0, 0, 0, 0.25);
    width: 34.3125rem;
    height: 51.3125rem;
    flex-shrink: 0;
    color: white;
    transition: 0.5s;
}

.cadastro:hover, .lista:hover {
    transform: scale(1.01);
    transition: 0.5s;
    cursor: pointer;
}

.cadastro form {
    display: flex;
    flex-direction: column;
    height: 51.3125rem;
}

.cadastro form #cadastro {
    color: #4C5CFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1.875rem 0;
}

.lista #lista {
    color: #5261FF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1.875rem 0;
}

.cadastro form #div_nom, #rod_cad {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cadastro form #div_nom label, #div_desc label {
    color: #4C5CFF;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 1.5rem;
}

.cadastro form #div_nom #inome {
    height: 3.0625rem;
    border-radius: .5rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    border: .0625rem solid #737171;
    background: #FFF;
    padding-left: .5rem;
    margin: 0 1.5rem 1.5rem;
}

.cadastro form #div_desc #idescricao {
    border-radius: 0.5rem;
    border: 0.0625rem solid #737171;
    background: #FFF;
    width: 30.335rem;
    height: 10.6875rem;
    flex-shrink: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    margin: 0 1rem 0;
    resize: none;
    padding: 0.4rem;
    margin-left: 1.4rem;
}

#ad {
    color: #4C5CFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cadastro form #rod_cad .marcar {
    color: #4C5CFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 1.5rem;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
}

.cadastro form .radio {
    display: flex;
    flex-direction: row;
    margin: 0 1.5rem;
    padding-top: 0;
    padding-bottom: 1rem;
}

.cadastro form .opcoes {
    display: flex;
    align-items: flex-end;
    color: #4C5CFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 1.5rem;
}

.button {
    position: absolute;
    opacity: 0;
}

.button+label::before {
    content: '';
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border: .125rem solid #000;
    background-color: #F2EDED;
    border-radius: 50%;
    margin-right: .5rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.button:checked+label:before {
    background-color: #4C5CFF;
}

.button_save {
    display: flex;
    justify-content: space-around;
    height: 4.5rem;
    flex-shrink: 0;
    padding: 1.1rem;
}

.button_save input {
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 11.5rem;
    border-radius: 1.75rem;
    background: #4181FF;
}

.lista, .conteudo {
    display: flex;
    flex-direction: column;

}

.lista .games {
    border-radius: 1.125rem;
    background: #10086A;
    height: 8.6875rem;
    flex-shrink: 0;
    margin: 0 1.5rem 1.5rem;
}

.games {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.esquerda {
    width: 3.563375rem;
    flex-shrink: 0;
    justify-content: space-around;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
}

.img1 {
    vertical-align: middle;
    margin: 0.5rem;
}

.titulo {
    color: #FFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 5.875rem;
    margin-top: 0.4rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.paragrafo {
    height: 5.625rem;
    flex-shrink: 0;
    margin-top: 0;
    margin-bottom: 0.9rem;
    color: #FFF;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: justify;
}

.direita {
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem
}

.img2 {
    width: 1.375rem;
    height: 1.5625rem;
    margin-top: 0.3rem;
}

.img3 {
    width: 1.6875rem;
    height: 1.6875rem;
    flex-shrink: 0;
    margin: 0.2rem;
    margin-left: 0.4rem;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    margin-left: -8px;
    margin-top: 1rem;
    background-color: #10086A;
    position: absolute;
    width: 100%;
    
}

footer p {
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}