@media (max-width: 1480px) {
    footer {
        margin-top: 0.5rem;
    }
}

@media (max-width: 1150px) {
    .card {
        flex-direction: column;
        align-items: center;
    }
    .cadastro {
        margin-bottom: 3rem;
    }
}

@media (max-width: 590px) {
    .cadastro, .lista {
        width: 22.3125rem;
        /* height: 33.3125rem; */
    }
    .cadastro form #div_desc #idescricao {
        width: 18.3125rem; /* a classe não está aceitando */
    }
}

.scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
}