@media (max-width: 1480px) {
    footer {
        margin-top: 0.5rem;
    }
}

@media (max-width: 1150px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .cadastro {
        margin-bottom: 3rem;
    }
}

@media (max-width: 590px) {
    .cadastro, .lista {
        width: 28.3125rem;
    }

    .cadastro form #div_desc #idescricao {
        width: 24.3125rem;
    }

    .lista .games, .paragrafo {
        height: auto;
    }
}

@media (max-width: 490px) {
    header {
        font-size: 3.5rem;
    }
    header span {
        font-size: 3.5rem;
    }
    
    .cadastro, .lista {
        width: 22.3125rem;
        height: 44.3125rem;
    }

    .cadastro form #div_desc #idescricao {
        width: 17.9531rem;
        font-size: 0.8rem;
        padding: 0.6rem;
    }

    .cadastro form #div_nom #inome, #ad {
        font-size: 0.8rem;
    }

    .cadastro form #cadastro, .lista #lista {
        font-size: 2.5rem;
    }

    .cadastro form #div_nom label, #div_desc label, 
    .cadastro form #rod_cad .marcar,
    .cadastro form .opcoes {
        font-size: 1.3rem;
    }

    .button+label::before {
        width: 1.5rem;
        height: 1.5rem;
    }

    .cadastro form .radio {
        margin: 0 3rem;
    }

    .cadastro form .opcoes {
        margin-left: 0;
        margin-top: 0.5rem;
    }

    .button_save input {
        font-size: 1.2rem;
        width: 8.7rem;
    }

}

.scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
}